<div class="modal-header">
	               <a ng-href="#" type="button" class="close" ng-click="closeModal();"  aria-hidden="true">&times;</a>                  
		       <h3  class="modal-title" >Update #{{user.id}}</h3>
</div>
			
	  <div class="modal-body">
	            
	                <div class="pull-right">
		         <a href="#/view/{{user.index}}" class="btn btn-primary glyphicon glyphicon-eye-open"  ></a>
	                 <a href=""  ng-click="delete(user)" class="btn btn-danger glyphicon glyphicon-remove" ></a>
	                </div> 
	                
<form  role="form">
  <input type="hidden" ng-model="user.id" >
  <input type="hidden" ng-model="user.index" >
  
   <div class="form-group">
     <label for="user.name">Name:</label>
     <input type="text" ng-model="user.name" size="30" placeholder="Name" value="{{user.name}}" class="form-control" >
   </div>
   <div class="form-group">
     <label for="user.age">Age:</label>
     <input type="text" ng-model="user.age" size="30" placeholder="Age" value="{{user.age}}" class="form-control">
   </div>


 
           <div class="modal-footer">
	                                <button  type="submit" value="SUBMIT" class="btn btn-primary" ng-click="updateUser(user)"  >SUBMIT</button>
	                                
					<!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
					<!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
	  </div>
	  
</form>

</div>