

			<div class="col-md-8 col-md-offset-1">


				  <h2>Users</h2>
				
				  <hr/>
						<div class="table-responsive">
						
						
							      <table class="table table-bordered table-hover table-condensed">
								
								  <th>Id</th> 
								  
								  <th>Name</th> 
								  
								  <th>Age</th>
								  
								  <th>Active</th>
								  
								  <tr ng-animate="{enter: 'animated flip'}" ng-repeat="user in models">
								      <td>{{user.id}}</td>
								      <td>{{user.name}}</td>
								      <td>{{user.age}}</td>
								      <td>{{user.active}}</td>
								      

								  </tr>
							      </table>
						    

						</div>

		      
			</div>
       
       
	     
		     
			      
			     
		             
			      
			      
			      
		    